body{
    font-family: Montserrat;
    overflow-x: hidden;   
}
#logo{
    color:#222831;

}
.navbar{
    background-color: white;
    height: 7em;
    padding:0;
   }

.nav-brand{
    color: #222831;
}
.nav-item{
    padding: 0 18px; 
}

.nav-link{
   font-size: 1.2rem;
   color: #222831;
}
.nav-link:hover{
    color:gray;
}
.heading{ 
   
    background-color: #222831;
    padding: 7% 10%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #FFF;
    display: flex;
}
@keyframes slideRight{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform:translateX(0);
    }
} 
@keyframes slideLeft{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform:translateX(0);
    }
} 
.heading>img{
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: slideRight;
}
.heading>h2{
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: slideLeft;
}


#desc{
    font-size:18px;
}
#projects{
    padding-bottom: 30px;
    color: #222831;
    
}
.project-title{
    text-align: center;
    padding-bottom: 30px;
    color: #222831;
    padding-top: 30px;
}
.row{
    text-align: center;
}
.card-header{
    background-color: #222831;
    color: #FFF;
    
}
.card-body{
    background-color: #FFF;

}
button{
    color:#222831;
}
.proj-link{
    color: #222831;
}
#hp{
    color: #222831;
    font-weight:600;
}
button :hover{
    color:#FFF;
    text-decoration: none;

}
#skills{
    text-align: center;
    background-color: #222831;
    padding: 50px 0 ;
}
img{
    border-radius: 10%;
}
#skill-title{
    color: #FFF;
   
}
#footer{
    height: 40px;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
   
}
#fa{
    color: #222831;
}
#fa:hover{
    color:black;
}
.skillImg{
    height: 10em;
    width: 13em;
    background: white;
    margin: 5px;
    transition-duration: 0.2s;
}
.skillImg:hover {
    height: 10.5em;
    width: 13.5em;
}
#cr{
    font-size: 12px;
   
}

/* for waving hand emoji */
.wave {
    animation-name: wave-animation;  
    animation-duration: 2.5s;        
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;       
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) } 
    100% { transform: rotate( 0.0deg) }
  }
  
  
  
  

